/* src/assets/main.css */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.v-application {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* main.css */
.tab-fixed-width {
  min-width: 120px;
  text-align: center;
}

.drawer-rounded {
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
